body {
   width: 100vw;
   height: 100vh;
   background-image: linear-gradient(135deg, black, #292626, #a3a7a7);
   background-size: 500%;
   color: white;
   font-family: "Century Gothic";
   margin: 0;
   display: grid;
   place-items: center;
   overflow: hidden;
   animation: fondoanimado 10s infinite;
}

#juego .celda {
   width: 90px;
   height: 90px;
   font-size: 3rem;
   display: grid;
   place-items: center;
   border: 1px solid white;
   float: left;
}

#juego {
   width: 276px;
   text-align: center;
}

#resultados {
   position: relative;
   top: 10px;
   height: 1rem;
}
@keyframes fondoanimado{
   0%{
      background-position: 0% 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0% 50%;
   }
}